body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #F5624D;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  height: 50px;
  width: 300px;
  margin: 8px;
  border-bottom: 1px solid gray;
  border-left: none;
  border-right: none;
  border-top: none;
  transition: all ease 0.2s;
}

h1 {
  color: #e0e0e0;
  font-family: 'Mountains of Christmas', cursive;
  font-size: 85px;
}

.button:hover {
  width: 350px;
  animation : rgbcolor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: all ease 0.2s;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}


