

/* GENERAL CARDS */
.cards_list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.Cards {
    margin: 32px;
    min-height: 250px;
    min-width: 200px;
    animation-name: rgbcolor;
    animation-fill-mode: forwards;
    background-color: #0F8A5F;
}

/* ACTIVE CARDS */
.Cards.active {
    border-radius: 0px;
    transform: scale(1.2);
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.active p.number {
    color: #e0e0e0;
    top: -10px;
    position: fixed;
    font-size: 20px;
}

/* INACTIVE CARDS */
.Cards.inactive {
    border-radius: 20px;
    border: 1px solid  black;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.01);
    transition: 0.5s;
}  
.Cards.inactive .recto {
    display: none;
}


/* CURRENT CARD */
.Cards.current {
    background-color: #CC231E !important;
}


.verso{
    top: 20px;
    left: 50%;
}

.recto {
    position: relative;
    height: 250px;
    width: 200px;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    border: 1px solid  black;
}

.Cards p {
    left: 10px;
    right: 10px;  
    color: #e0e0e0;
    font-family: 'Mountains of Christmas', cursive;
}
p.number {
    font-size: 60px;
}

p.expression {
    top: 35px;
    position: fixed;
    font-size: 14px;
    color: gold;
}

p.auteur {
    position: absolute;
    bottom: 0px;
    font-style: oblique;
}








